/* Contenedor del header */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

/* El título ocupa toda la fila */
.header h1 {
    grid-column: span 2;
    margin: 0;
}

/* Botones */
.header button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* Línea separadora */
.header hr {
    grid-column: span 2;
}

/* Lista de botones (grid dinámico) */
.lista-animaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columnas siempre */
    gap: 10px;
    padding: 10px;
}

.lista-animaciones button {
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}
